name: image_converter_macos
description: "A new Flutter project."
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.6
  get: ^4.6.6
  intl: ^0.18.0
  # shared_preferences: ^2.2.2
  google_fonts: ^6.1.0
  url_launcher: ^6.2.4
  share_plus: ^7.2.2
  flutter_rating_bar: ^4.0.1
  lottie: ^3.1.0
  pdf: ^3.10.8
  path_provider: ^2.1.2
  open_file: ^3.3.2
  path: ^1.8.3
  image: ^4.1.7
  file_picker: ^6.1.1
  dio: ^5.4.1
  percent_indicator: ^4.2.3
  dotted_border: ^2.1.0
  desktop_drop: ^0.4.4
  bitsdojo_window: ^0.1.6
  flutter_image_compress: ^2.1.0
  purchases_flutter: ^6.24.0
  shimmer: ^3.0.0
  connectivity_plus: ^6.0.3
dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
